<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Контакти</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Контактна інформація</h2>
<p>Адреса: вул. Медична, 123, Київ</p>
<p>Телефон: +380 44 123 4567</p>
<p>Факс: +380 44 123 4568</p>
<p>Пейджер: +380 44 123 4569</p>
<p>Email: medlab.servicemail@gmail.com</p>
<a href="/">На головну</a>
</body>
</html>
