<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Про лабораторію</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Ласкаво просимо до нашої медичної лабораторії!</h1>
<p>Ми пропонуємо широкий спектр медичних аналізів швидко та якісно.</p>
<a href="/services/view">Послуги</a> |
<a href="/appointments/form">Запис на аналізи</a> |
<a href="/contacts">Контакти</a> |
<a href="/admin/login">Адмін-панель</a>


</body>
</html>
